.button {
  background-color: #89C4F4;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  text-outline: 2px 2px #404040;
  width:100px;
}

.button-large {
  background-color: #89C4F4;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  text-outline: 2px 2px #404040;
  width:170px;
}

.button:hover {
  background-color: #1E8BC3;
}

a {
  font-size: 13.5px;
  color: black;
}

a:hover {
  color: gray;
}

input{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width:100%;
}

.lolform {
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  background-color: #d3d3d3;
  width: 100%;
  padding: 20px 40px 20px 40px;
  border-style: none;
  border-width: .5px;
}

.lolformresult {
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  background-color: #d3d3d3;
  width: 100%;
  padding: 20px 40px 20px 40px;
  border-style: none;
  border-width: .5px;
}

.roflform {
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  width: 100%;
  padding: 4px 40px 10px 40px;
}

.main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  float: right;
}




.blastForThePast {
  display:none;
}

div#roflform {
  padding-left: 40px;
}

#main-body {
  width:45%;
  margin:auto;
}

#title {
  margin:auto;
  padding:30px 0 30px 40%;
  font-size: 26px;
}

#create {
  display:none;
}

#joinere {
  padding:0 0 15px 0;
  font-size: 20px;
}
#alert-banner {
    background-color: orange;
    width: 100vw;
    float: top;
    padding: 5px 0 5px 0;
    z-index: 2;
    text-align:center;
    font-size:11px;
    margin:auto;
}

body {
   margin:0;
   }
   
#spacer {
	height:35px;
	}
	
#edit-form {
	margin:auto;
	width:50%;
	}
	
textarea {
	width:100%;
	height:50%;
	}
	
.nav-side-menu {
  overflow: auto;
  font-size: 12px;
  font-weight: 200;
  background-color: #33383c;
  position: fixed;
  width: 225px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a  {
  text-decoration: none;
  color: #e1ffff;
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.logout {
    position: absolute;
    bottom: 100;
    width: 100%;
    }
    
#topbar {
  background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
    color: white; 
    width:100%;
 } 
 
.dashboard {
    text-align: center;
}
  
.adding-form {
 padding-right:25px;
 padding-top:15px;
 text-align:left;
}



.field-name {
 width:100px;
}
 
.field-value {
 width:400px;
}

.loggedinas {
  text-align:center;
  width:100%;
}
  
#logoimg {
  width:200px;
  padding-bottom:10px;
}